{% import "block-functions.twig" as block_functions %}

  {% block _inner_post %}
    <div class="post uk-text-center">
      
      {# img #}
      {% block _inner_post_img %}
        {% set img1 = post.thumbnail.src|resize(w, h)|default('https://picsum.photos/id/1/' ~ w ~ '/' ~ h) %}
        {{ block_functions.block_img(is_preview, img1, post.thumbnail.alt, {w: w, h: h}) }}
      {% endblock %}
      
      {# title linked #}
      {% block _inner_post_title %}
        {{ block_functions.block_link_open(is_preview, post.link, {class: 'uk-link-reset'}) }}
          <h3 class="uk-margin-top">{{ post.title }}</h3>
        {{ block_functions.block_link_close(is_preview) }}
      {% endblock %}
      
      {# excerpt #}
      {% block _inner_post_excerpt %}
        <p>{{ post.preview.length(22).force.read_more('') }}</p>
      {% endblock %}
      
      {# link/btn #}
      {% block _inner_post_btn %}
        {{ block_functions.block_link(is_preview, post.link, 'Read more', {class: 'uk-button uk-button-default uk-button-small'}) }}
      {% endblock %}
      
    </div>
  {% endblock %}