{#
/**
 * Block Name: Contact section
 *
 * This is the template that displays the Contact section block.
 */
#}

{# extend & imports 

#}

{% extends "block.twig" %}
{% import "block-functions.twig" as block_functions %}

{# block fields 

#}

{% set flex_first_class = (fields.contact_layout == 'right') ? 'uk-flex-first' %}

{# img fields 

#}

{% if fields.contact_img %}
  {% set the_image = Image(fields.contact_img).src %}
  {% set the_image_alt = Image(fields.contact_img).alt %}
{% endif %}
{% set img_src = the_image|resize(1080, 675)|default('https://picsum.photos/id/' ~ default_theme_img_id ~ '/1080/675') %}
{% set img_alt = the_image_alt %}

{# main block 

#}

{% block block_main %}
  <div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse uk-background-muted uk-text-{{ block.align_text|e('esc_html') }} uk-grid" uk-grid>
      
      {# contact block - content #}
      <div class="uk-flex uk-flex-{{ align_content|e('esc_html') }}">
        <div class="uk-padding-large uk-padding-remove-vertical">
          
          {# block heading #}
          {% if fields.contact_heading %}
            <h3>{{ fields.contact_heading|e('esc_html') }}</h3>
          {% endif %}
          
          {# block message #}
          {% if fields.contact_msg %}
            <p class="uk-margin-small">{{ fields.contact_msg|e('wp_kses_post') }}</p>
          {% endif %}
          
          {# block btn (text & url) #}
          {% if fields.contact_btn_txt and fields.contact_btn_url %}
            <div class="uk-margin-top">
              {{ block_functions.block_link(is_preview, fields.contact_btn_url, fields.contact_btn_txt, {class: 'feature-link uk-text-uppercase uk-text-emphasis'}) }}
            </div>
          {% endif %}
          
        </div>
      </div>
      
      {# contact block - img #}
      <div class="uk-flex {{ flex_first_class }}">
        {{ block_functions.block_img(is_preview, img_src, img_alt, {class: 'cover-img', w: '1080', h: '675'}) }}
      </div>
      
    </div>
{% endblock %}