{#
/**
 * Block Name: Cover section
 *
 * This is the template that displays the Cover section block.
 */
#}

{# extend & imports 

#}

{% extends "block.twig" %}
{% import "block-functions.twig" as block_functions %}

{# block fields 

#}

{% set container_size = (block.align_text == 'center') ? 'small' : 'xlarge'  %}

{# img fields 

#}

{% if fields.cover_img %}
  {% set the_image = Image(fields.cover_img).src %}
  {% set the_image_alt = Image(fields.cover_img).alt %}
{% endif %}
{% set img_src = the_image|resize(1920, 800)|default('https://picsum.photos/id/' ~ default_theme_img_id ~ '/1920/800') %}
{% set img_alt = the_image_alt %}

{# main block 

#}

{% block block_main %}
  <div class="uk-inline headercover">
    
    {# block img #}
    {{ block_functions.block_img(is_preview, img_src, img_alt, {class: full_height_img_class, coverheight: block.full_height}) }}
    
    {# block content #}
    {% if fields.cover_heading or fields.cover_msg or (fields.cover_btn_txt and fields.cover_btn_url) or fields.cover_bottom %}
      <div class="uk-position-cover uk-overlay uk-overlay-primary overlay-contained">
        <div class="uk-position-cover uk-container uk-container-{{ container_size|e('esc_html') }} uk-flex uk-flex-{{ align_content|e('esc_html') }} uk-flex-{{ block.align_text|e('esc_html') }} uk-text-{{ block.align_text|e('esc_html') }}">
          <div class="cover-content">
            
            {# block heading #}
            {% if fields.cover_heading %}
              <h1 class="uk-heading-small uk-margin-large-top">{{ fields.cover_heading|e('esc_html') }}</h1>
            {% endif %}
            
            {# divider #}
            {% if fields.cover_heading and fields.cover_msg %}
              <hr class="uk-divider-small">
            {% endif %}
            
            {# block message #}
            {% if fields.cover_msg %}
              <p class="uk-text-emphasis uk-text-lead uk-margin-top uk-margin-medium-bottom">{{ fields.cover_msg|e('esc_html') }}</p>
            {% endif %}
            
            {# block btn (text & url) #}
            {% if fields.cover_btn_txt and fields.cover_btn_url %}
              {{ block_functions.block_link(is_preview, fields.cover_btn_url, fields.cover_btn_txt, {class: 'uk-button uk-button-default uk-button-large scroll'}) }}
            {% endif %}
            
          </div>
        </div>
        
        {# block bottom message #}
        {% if fields.cover_bottom %}
          <div class="uk-position-cover uk-container uk-container-{{ container_size|e('esc_html') }}">
            <div class="uk-position-bottom uk-position-small uk-text-{{ block.align_text|e('esc_html') }}">
              {{ fields.cover_bottom|e('wp_kses_post') }}
            </div>
          </div>
        {% endif %}
        
      </div>
    {% endif %}
    
  </div>
{% endblock %}