{#
/**
 * Block Name: CTA section
 *
 * This is the template that displays the CTA section block.
 */
#}

{# extend & imports 

#}

{% extends "block.twig" %}
{% import "block-functions.twig" as block_functions %}

{# block fields 

#}

{% set container_size = (block.align_text == 'center') ? 'xsmall' : 'large'  %}

{# main block 

#}

{% block block_main %}
  <div class="uk-section uk-section-primary" style="background-color: {{ fields.cta_colour|e('esc_html')|default('#008ce1') }}">
    <div class="uk-text-{{ block.align_text|e('esc_html') }} uk-container uk-container-{{ container_size|e('esc_html') }}">
      
      {# block heading #}
      {% if fields.cta_heading %}
        <h2 class="uk-h3">{{ fields.cta_heading|e('esc_html') }}</h2>
      {% endif %}
      
      {# block message #}
      {% if fields.cta_msg %}
        <p>{{ fields.cta_msg|e('esc_html') }}</p>
      {% endif %}
      
      {# block btn (text & url) #}
      {% if fields.cta_btn_txt and fields.cta_btn_url %}
        {{ block_functions.block_link(is_preview, fields.cta_btn_url, fields.cta_btn_txt, {class: 'feature-link uk-text-uppercase scroll'}) }}
      {% endif %}
      
    </div>
  </div>
{% endblock %}