{#
/**
 * Block Name: Featured items section
 *
 * This is the template that displays the Featured pages section block.
 */
#}

{# 1. Extend the base block 

  Extend the base block first...
  
#}

{% extends "block.twig" %}

{# 2. Import macros 

  Import any relevant macros...
  
#}

{% import "snippets.twig" as snippets %}
{% import "block-functions.twig" as block_functions %}

{# 3. Set block-specific variables 

  Set any block-specific variables here, from ACF fields or anything 
  else. Objects inside a loop will include a template file & variables 
  specific to the looped item will be set at the top of the 
  subsequent file.
  
#}

{# 4. Do the block markup, extending main 

  Start doing the markup for the block, extending block_main from block.twig
  
#}

{% block block_main %}
  {% if items is not empty %}
    <section class="featured-items-block uk-grid-match uk-flex uk-flex-middle uk-grid-collapse uk-background-primary uk-light uk-text-center uk-grid" uk-grid>
      {% for item in items %}
      
        {# 5. Set item-specific variables 

          ...
          
        #}
      
        {% set i = loop.index %}
        {% set n = items|length %} 

        {# text & link #}
        {% set text = item.txt|default(item.post.title) %}
        {% set link = item.url|default(item.post.link|default('#')) %}

        {# img: defaults #}
        {% set w = 1920 %}
        {% set h = 500 %}
        {% set the_image = null %}
        {% set the_image_alt = null %}
        {% set default_img = 'https://picsum.photos/id/1' ~ i ~ '/1920/500' %}
        {% if item.img %}
          {% set the_image = Image(item.img).src %}
          {% set the_image_alt = Image(item.img).alt %}
        {% endif %}
        {% set img_src = the_image|default(item.post.thumbnail.src)|resize(w, h) %}
        {% set img_alt = the_image_alt|default(item.post.thumbnail.alt) %}

        {# img 2 - 3 & 4 - 6 #}
        {% if items|length > 1 and items|length <= 3 %}
          {% set w = 1200 %}
          {% set default_img = 'https://picsum.photos/id/1' ~ i ~ '/1200/500' %}
          {% if item.img %}
            {% set the_image = Image(item.img).src %}
          {% endif %}
          {% set img_src = the_image|default(item.post.thumbnail.src)|resize(w, h) %}
        {% elseif items|length > 3 and items|length <= 6 %}
          {% set default_img = 'https://picsum.photos/id/1' ~ i ~ '/500/500' %}
          {% if item.img %}
            {% set the_image = Image(item.img).src %}
          {% endif %}
          {% set img_src = the_image|default(item.post.thumbnail.src)|resize(h, h) %}
        {% endif %}

        {# 6. Featured item template markup 

          ...
          
        #}
        
        {{ block_functions.block_link_open(is_preview, link, {class: 'uk-width-1-' ~ n ~ '@m'}) }}
          <div class="uk-inline uk-light">
            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
              
              {{ block_functions.block_img(is_preview, img_src|default(default_img), img_alt, {class: 'uk-transition-scale-up uk-transition-opaque uk-img'}) }} {# featured page item image #}
              
              {# featured page item - overlayed content (title) #}
              {% if text %}
                <div class="uk-overlay-secondary uk-position-cover">
                  <div class="uk-position-center">
                    <span class="feature-link uk-text-uppercase uk-text-emphasis">{{ text|e('esc_html') }}</span> {# text field #}
                  </div>
                </div>
              {% endif %}
              
            </div>
          </div>
        {{ block_functions.block_link_close(is_preview) }}

      {% endfor %}
    </section>
  {% else %}
    {{ block_functions.preview_text(is_preview, 'No featured items have been added yet...') }}
  {% endif %}
{% endblock %}