{#
/**
 * Block Name: Testimonials
 *
 * This is the template that displays the Testimonials block.
 */
#}

{# 1. Extend the base block 

  Extend the base block first...
  
#}

{% extends "block.twig" %}

{# 2. Import macros 

  Import any relevant macros...
  
#}

{% import "icons.twig" as icons %}
{% import "block-functions.twig" as block_functions %}

{# 3. Set block-specific variables 

  Set any block-specific variables here, from ACF fields or anything 
  else. Objects inside a loop will include a template file & variables 
  specific to the looped item will be set at the top of the 
  subsequent file.
  
#}

{% set wrap_style = (fields.testimonials|length > 1) ? 'style="padding-bottom:30px;"' %}

{# 4. Do the block markup, extending main 

  Start doing the markup for the block, extending block_main from block.twig
  
#}

{% block _block_styles %}
  <style>
    .testimonials__star {
      margin: 0 2px;
      color: #eeaf2e;
    }
  </style>
{% endblock %}

{% block block_main %}
  {% if fields.testimonials is not empty %}
    <section class="uk-container uk-container-xsmall">
      
      {# the slideshow wrapper #}
      <div id="slideshow_tesimonials" class="swiper-container" {{ wrap_style }}>
        <div class="swiper-wrapper">
          
          {# the slideshow loop #}
          {% for testimonial in fields.testimonials %}
            <div class="swiper-slide"> {# the slideshow slide #} 
              <div class="testimonial uk-text-{{ testimonial.align|e('esc_html')|default('center') }}"> {# align field #}
                
                {# rating field #}
                <div class="testimonials__star-rating">
                  {% for i in 1..testimonial.rating|e('esc_html')|default(5) %}
                    {{ icons.star() }}
                  {% endfor %}
                </div>
                
                {# testimonial content field #}
                <p class="uk-h3 uk-margin-top uk-margin-remove-bottom">"{{ testimonial.content|e('esc_html')|default('Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt') }}"</p>
                
                {# testimonial title field #}
                <p class="uk-margin-top uk-margin-remove-bottom">- {{ testimonial.title|e('esc_html')|default('One happy customer') }}</p> {# title field #}
                
              </div>
            </div>
          {% endfor %}
          
        </div>
        
        {# the slideshow pagination #}
        {% if fields.testimonials|length > 1 %}
          <div class="swiper-pagination"></div>
        {% endif %}
      </div>
      
    </section>
  {% else %}
    {{ block_functions.preview_text(is_preview, 'No testimonials have been added yet...') }}
  {% endif %}
{% endblock %}

{# 5. Do the block-specific scripts 

  Do any block-specific scripts, extending block_scripts from block.twig
  
#}

{% block block_scripts %}
  {% if fields.testimonials|length > 1 %}
    {% set testimonials_pagi = '.swiper-pagination' %}
  {% else %}
    {% set testimonials_pagi = false %}
  {% endif %}
  {{ block_functions.block_swiper(is_preview, 'tesimonials_swiper', '#slideshow_tesimonials', {autoplay: true, slidesPerView: 1, spaceBetween: 0, pagination: testimonials_pagi, pagination_dynamicBullets: true}) }}
{% endblock %}