{% extends "block.twig" %}
{% import "block-functions.twig" as block_functions %}

{% block block_content %}

  {# rmcc-block vars (inside block_content) 

  #}
  
  {% set img_src = _block_img.src|resize(720, 500)|default('https://picsum.photos/id/' ~ default_theme_img_id ~ '/720/500') %}
  {% set img_alt = _block_img.alt %}
  
  {# rmcc-block markup 

  #}
  
  {% block _block_content %}
    <div class="featured-item-section uk-section uk-section-small uk-section-muted">
      <div class="uk-container">
        {% block _block_grid %}
          <div class="uk-grid-match uk-flex uk-flex-{{ align_content|e('esc_html') }} uk-grid-collapse uk-background-default uk-text-{{ align_text|e('esc_html') }} uk-box-shadow-medium" uk-grid>
            
            {% block _block_left %}
              <div class="uk-width-3-5@m">
                {{ block_functions.block_img(is_preview, img_src, img_alt, {w: '720', h: '500'}) }}
              </div>
            {% endblock %}
            
            {% block _block_right %}
              <div class="uk-padding-large uk-width-2-5@m {{ first_class }}">
                
                {% block _block_heading %}
                  {% if heading %}
                    <h3>{{ heading|e('esc_html') }}</h3>
                  {% endif %}
                {% endblock %}
                
                {% block _block_message %}
                  {% if message %}
                    <p class="uk-margin-small">
                      {{ message|e('wp_kses_post') }}
                    </p>
                  {% endif %}
                {% endblock %}
                
                {% block _block_button %}
                  {% if button_text and button_url %}
                    <div class="uk-margin-top">
                      {{ block_functions.block_link(is_preview, button_url, button_text, {class: 'feature-link uk-text-uppercase uk-text-emphasis'}) }}
                    </div>
                  {% endif %}
                {% endblock %}
                
              </div>
            {% endblock %}
            
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock %}
  
{% endblock %}