{#
/**
 * Block Name: Video popup section
 *
 * This is the template that displays the Video popup section block.
 */
#}

{% extends "block.twig" %}
{% import "block-functions.twig" as block_functions %}
{% import "block-icons.twig" as block_icons %}

{% block block_styles %}
  <style>
    .video-container__play svg {
      width: 80px;
      height: 80px;
      fill: transparent;
      stroke: #fff;
    }
  </style>
{% endblock %}

{% block block_content %}

  {# rmcc-block vars (inside block_content) 

  #}
  
  {% set _img_h = (fullheight) ? '975' : null %}
  {% set _placeholder_h = (fullheight) ? '975' : '500' %}
  {% set img_src = _block_img.src|resize(1920, _img_h)|default('https://picsum.photos/id/' ~ default_theme_img_id ~ '/1920/' ~ _placeholder_h) %}
  {% set img_alt = _block_img.alt %}
  
  {# rmcc-block markup 

  #}
  
  <div class="uk-background-primary uk-text-center">
    
    <div class="uk-inline">
      
      {# block img #}
      {{ block_functions.block_img(is_preview, img_src, img_alt, {class: fullheight_img_class, coverheight: fullheight}) }}
      
      {# play button with video_embed #}
      {% if embed_url %}
        <div class="uk-overlay-primary uk-position-cover">
          <div class="{{ align_content_pos }} uk-padding">
            {{ block_functions.block_link_open(is_preview, '#modal-media-video', {class: 'video-container__play', attr: 'uk-toggle'}) }}
              {{ block_icons.youtube_btn_icon }}
            {{ block_functions.block_link_close(is_preview) }}
          </div>
        </div>
      {% endif %}
      
    </div>
    
    {# iframe modal with video_embed #}
    {% if embed_url and not is_preview %}
      <div id="modal-media-video" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
          <button class="uk-modal-close-outside" type="button" uk-close></button>
          {{ functions.iframe(embed_url, {w: '1920', h: '800'}) }}
        </div>
      </div>
    {% endif %}
    
  </div>
  
{% endblock %}